<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find mantaray_transforms)/urdf/mantaray_robot.xacro'" />
  <group ns="mantaray">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0" />
    </node>
  </group>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base" args="0 0 0 0 0 0 1 world mantaray/base_link"/> -->
</launch>
